{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="text-center my-5">
        <h2>주차 위치</h2>
        <div id="location-box" class="location-box">
            {% if parking_spot %}
                <p class="parking-location">현대백화점</p>
                <p class="parking-spot">{{ parking_spot }}</p>
            {% else %}
                <p class="text-danger">주차 정보 없음</p>
                <p class="parking-spot">주차 기록이 없습니다.</p>
            {% endif %}
        </div>
        <div class="btn-group btn-group-lg mt-3" role="group" aria-label="Parking Actions">
            <a href="{{ url_for('map_view') }}" class="btn btn-primary">지도</a>
            <a href="{{ url_for('payment') }}" class="btn btn-primary">정산</a>
            <a href="{{ url_for('settings') }}" class="btn btn-primary">설정</a>
        </div>
    </div>
</div>

<script>
    function checkDriveStatus() {
        fetch('/check_drive')  // /check_drive 엔드포인트에 요청
            .then(response => response.json())
            .then(data => {
                console.log('Check drive status response:', data); // 응답 로그 추가
                if (data.status === 'success') {
                    if (data.drive === 0) {
                        console.log('Drive is 0, redirecting to parking.html'); // 조건 로그 추가
                        window.location.href = "{{ url_for('parking') }}";
                    }
                }
            })
            .catch(error => console.error('Error checking drive status:', error));
    }

    setInterval(checkDriveStatus, 3000);
</script>

{% endblock %}
