{% extends "base.html" %}
{% block content %}
<div class="my-5">
    <h2>정산 기능</h2>
    <form method="POST">
        <div class="form-group">
            <label for="entry_date">입차 일시</label>
            <input type="text" class="form-control" id="entry_date" value="{{ entry_time }}" readonly>
        </div>
        <div class="form-group mt-3">
            <label for="vehicle">입차 차량</label>
            <input type="text" class="form-control" id="vehicle" value="{{ vehicle_id }}" readonly>
        </div>
        <div class="form-group mt-3">
            <label for="fee">주차 요금</label>
            <input type="text" class="form-control" id="fee" value="{{ parking_fee }} 원" readonly>
        </div>
        
        {% if payment_status == 1 %}
            <!-- 이미 정산된 경우 -->
            <button type="button" class="btn btn-success mt-3" disabled>이미 정산 완료</button>
        {% else %}
            <!-- 정산이 필요한 경우 -->
            <button type="submit" class="btn btn-primary mt-3">결제</button>
        {% endif %}
    </form>
    
    <!-- 성공 메시지 표시 -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-success mt-3">
                {% for category, message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
