{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="text-center my-5">
        <h2>주차 자리 추천 설정</h2>
        <form class="setting-form">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="near_exit">
                <label class="form-check-label" for="near_exit">출구 근처</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="near_entrance">
                <label class="form-check-label" for="near_entrance">매장 입구 근처</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="closest_spot">
                <label class="form-check-label" for="closest_spot">제일 가까운 주차 자리</label>
            </div>
            <button type="submit" class="btn btn-primary mt-4">저장</button>
        </form>
    </div>
</div>
{% endblock %}
